numpy>=1.21.0
wget==3.2
fonttools==4.38.0
opentypesvg==1.1.5
xmltodict==0.13.0
matplotlib==3.7.0
pandas==1.5.3
tqdm==4.64.1
scikit-learn==1.2.1
torchsummary==1.5.1
optuna==3.1.0
cairosvg
umap-learn>=0.5.3
GitPython>=3.1.31
# torch==1.13.1
# torchvision==0.14.1